app = "magic-the-battling"
primary_region = "ewr"

[build]

[env]
  DATABASE_PATH = "/data/mtb.db"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    timeout = "5s"
    path = "/health"

[mounts]
  source = "mtb_data"
  destination = "/data"

[[vm]]
  memory = "1024mb"
  cpu_kind = "shared"
  cpus = 1
